*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    background-color: rgba(229, 238, 233, 0.979);
    width: 90%; 
    margin-left: 10%;
}
.image_con img {
    margin-top: 20px;
    margin-left: 100px;
    width: 80%;
    height: 400px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 30px;
}
h1{
    margin-left: 100px;
    font-size: 3rem;
}
h3{
    font-size:24px;
    margin-left: 100px;
}
.prep p {
    font-size: 30px;
    
}
.prep{
    list-style-type: none;
    margin-left: 120px;
}
.prep li{
    font-size: 20px;

}
.ing{
    margin-left: 120px;
    
}
.ing p{
    font-size: 25px;
}
.ing li{
    margin-left: 20px;
    margin-top:10px;
}
.odv{
    margin-left: 120px;
   
}
.odv p{
   font-size: 25px;
}
.odv li{
    margin-top: 20px;
}
.odv span {
    font-weight: bold;
}
.nut p{
    font-size: 35px;
    margin-left: 120px;
}
h4{
    margin-left: 120px;
}
table{
    margin-left: 120px;
}
table{

    border-collapse: collapse;
    border-spacing: 10px;
    width: 60%;
    tr,td{
        border: 1px solid black;
        padding: 10px;
    }
    
}
@media only screen and (max-width:600px){
    .image_con img {
        margin-top: 20px;
        margin-left: 100px;
        width: 80%;
        height: 400px;
        object-fit: cover;
        overflow: hidden;
        border-radius: 30px;
    }
    h1{
        margin-left: 100px;
        font-size: 3rem;
    }
    h3{
        font-size:24px;
        margin-left: 100px;
    }
    .prep p {
        font-size: 30px;
        
    }
    .prep{
        list-style-type: none;
        margin-left: 120px;
    }
    .prep li{
        font-size: 20px;
    
    }
    .ing{
        margin-left: 120px;
        
    }
    .ing p{
        font-size: 25px;
    }
    .ing li{
        margin-left: 20px;
        margin-top:10px;
    }
    .odv{
        margin-left: 120px;
       
    }
    .odv p{
       font-size: 25px;
    }
    .odv li{
        margin-top: 20px;
    }
    .odv span {
        font-weight: bold;
    }
    .nut p{
        font-size: 35px;
        margin-left: 120px;
    }
    h4{
        margin-left: 120px;
    }
    table{
        margin-left: 120px;
    }
    table{
    
        border-collapse: collapse;
        border-spacing: 10px;
        width: 60%;
        tr,td{
            border: 1px solid black;
            padding: 10px;
        }
        
    }

}














































































































































































































































































